---
title: Supplementary Page Example
---
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">About</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <a class="govuk-breadcrumbs__link" href="#main-content">Get Started</a>
      </li>
    </ol>
  </div>
</div>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-width-container">
      <div class="govuk-grid-row product-page-!-border-bottom govuk-!-margin-bottom-7">
        <div class="govuk-grid-column-two-thirds">
          <section class="content-section">
            <h2 class="govuk-heading-l content-section__first-heading">Get started</h2>
            <p class="govuk-body">To begin building your products you first need to be a member of the Digital Shared Services <a href="https://github.com/dof-dss">GitHub</a> organisation.</p>
            <p class="govuk-body">
              To request access please contact <a href="mailto:ea-team@ea.finance-ni.gov.uk">ea-team@ea.finance-ni.gov.uk</a>
            </p>
          </section>
        </div>
      </div>
      <div class="govuk-grid-row product-page-!-border-bottom govuk-!-margin-bottom-7">
        <div class="govuk-grid-column-two-thirds">
          <section class="content-section">
            <h2 class="govuk-heading-l content-section__first-heading">Example Product</h2>
            <p class="govuk-body">We recommend that each product or service you build should have at least the following repositories.</p>
            <br/>
            <img src="/images/product-example.png" class="dss-image"/>
            <div class="govuk-grid-column">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2" id="source-code">
                <a class="govuk_link" href="">Source code repositories<a>
                  </h2>
                  <p class="govuk-body">
                    Create public repositories for the source code that makes up your product or service.
                  </p>
                  <h2 class="govuk-heading-m govuk-!-margin-bottom-2" id="product-pages">
                    <a class="govuk_link" href="/product-page">Product Page repositories<a>
                      </h2>
                      <p class="govuk-body">
                        Creating a product page is a great way to inform your users what your product or service is all about. 
                      </p>
                      <h2 class="govuk-heading-m govuk-!-margin-bottom-2" id="tech-docs">
                        <a class="govuk_link" href="/technical-docs-repo">Technical Documentation repository<a>
                          </h2>
                          <p class="govuk-body">
                            Technical Documentation is vital to allow your product or service to be well maintained.
                          </p>
                          <h2 class="govuk-heading-m govuk-!-margin-bottom-2" id="user-guide">
                            <a class="govuk_link" href="/user-guide-repo">User guide repository<a>
                              </h2>
                              <p class="govuk-body">
                                Creating a user guide repository where you detail how a user should interact with your product or service is a great way to help your users get the most out of what you build.
                              </p>
                            </div>
                          </p>
                        </section>
                      </div>
                    </div>
                  </div>
                </main>
              </div>
