---
title: Host Git solution
---


<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">About</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <a class="govuk-breadcrumbs__link" href="#main-content">Hosted Git Solution</a>
      </li>
    </ol>
  </div>
</div>

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Hosted Git Solution</h1>
        <p class="govuk-body">One of the key enablers of our new approach is migrating our repositories and documentation to a hosted Git provider. In line with other government organisations (<a href="https://github.com/alphagov">GDS</a>, <a href="https://github.com/hmrc">HMRC</a>, etc.) we have choosen to use GitHub. </p>
        <p class="govuk-body"></p>        
        <h2 class="govuk-heading-m">Why GitHub</h2>
        <p class="govuk-body">GitHub has become the preeminent hosted git provider with a community of over 40 million developers. It is home to most open source products and services and is used by organisations large and small to collaborate with like-minded individuals. It is all about the collaborative effort of the community, in reviewing, improving, and deriving new ideas from the uploaded code.</p>
        <p class="govuk-body">As one of our core principals is to be open and transparent we wanted to choose a provider which would provide the tools and community to help us realise that ambition.</p>
        <p class="govuk-body">GitHub offers a number of tools and services at no cost for open source projects. By adopting a code in the open strategy and leveraging the power of the free services offered by GitHub, we are able to deliver value for money to citizens without negatively impacting on the experience of our development community.</p>
        <h2 class="govuk-heading-m">Benefits of GitHub</h2>

        <h3 class="govuk-heading-s">1. It makes it easy to contribute to your open source projects</h3>
        <p class="govuk-body">Using GitHub is free if your project is open source and includes many features 'out of the box' at no extra cost, such as a wiki and issue tracking. These features make it easy to include more in-depth documentation and get feedback about your product all in one place.</p>
         <h3 class="govuk-heading-s">2. Large community</h3>
        <p class="govuk-body">GitHub has over 40 million registered developers and is the home of most open source projects. It is also home to many of our peer organisations such as GDS and HMRC which follow a code in the open approach for the products and services they provide. Because of the volume of developers, and it's open source nature, it will allow us to build our products and services in a much more collaborative, open and transparent way.</p>
        <h3 class="govuk-heading-s">3. Integration options</h3>
        <p class="govuk-body">GitHub can easily integrate with many of the products and tools we already use as part of our development workflow, such as Azure DevOps, AWS, Jira, Jenkins, CircleCI to name a few. It is also very easy to build custom integrations for more specific usecases. There is also a large marketplace of third party apps and tools to improve your workflow. GitHub also regularly rolls out new features to it's core product which only further enhance it as a platform.</p>
      </div>
           <div class="govuk-grid-column-one-third">
        <aside class="related-items">
          <h2 class="related-items__title">Related content</h2>
          <ul class="related-items__list">
            <li><a class="govuk-link" href="https://github.com/dof-dss">Dof DSS GitHub</a></li>
            <li><a class="govuk-link" href="https://dof-dss.github.io/contributor-code-of-conduct/">GitHub guidance</a></li>
            <li><a class="govuk-link" href="https://dof-dss.github.io/contributor-code-of-conduct/">DSS Code of Conduct</a></li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</main>
