---
title: Central documentation repository
---

<div class="masthead">
  <div class="hero">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Store your code and documentation in a single location.</h1>
        <div class="hero__inline-image">
          <img src="//placehold.it/646x492/005ea5/ffffff?text=A+supporting+image" alt="" role="presentation">
        </div>
        <p class="hero__description">
          A common approach to project documentation.
        </p>
        <a href="/getstarted" role="button" draggable="false" class="govuk-button govuk-button--start app-button--inverted" data-module="govuk-button" data-click-events data-click-category="Hero" data-click-action="Button clicked">
          See how
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
        </div>
    </div>
  </div>
</div>

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row product-page-!-border-bottom govuk-!-margin-bottom-7">
      <div class="govuk-grid-column-two-thirds">
        <section class="content-section">
          <h2 class="govuk-heading-l content-section__first-heading">Our goal</h2>
          <p class="govuk-body">Deliver a common and consistent way to effectively document our products and services which enables delivery teams to effectively build, maintain and run them. This should foster an open and transparent approach to building and documenting our products and services.</p>
        </section>
      </div>
       <div class="govuk-grid-column-one-third">
        <aside class="related-items">
          <h2 class="related-items__title">Related content</h2>
          <ul class="related-items__list">
            <li><a class="govuk-link" href="https://gds.blog.gov.uk/2017/09/04/the-benefits-of-coding-in-the-open/">Code in the Open</a></li>
            <li><a class="govuk-link" href="https://technology.blog.gov.uk/2017/08/25/why-we-use-a-docs-as-code-approach-for-technical-documentation/">Documentation as Code</a></li>
            <li><a class="govuk-link" href="https://nics-ea-principles.london.cloudapps.digital/">NICS EA Principals</a></li>
            <li><a class="govuk-link" href="https://dof-dss.github.io/contributor-code-of-conduct/">DSS Code of Conduct</a></li>
          </ul>
        </aside>
      </div>
  </div>
  <div class="govuk-grid-row product-page-!-border-bottom govuk-!-margin-bottom-7">
      <div class="govuk-grid-column-two-thirds">
        <section class="content-section">
          <h2 class="govuk-heading-l content-section__first-heading">Why documentation is important</h2>
          <p class="govuk-body">As one of our core principals is to <a href="https://nics-ea-principles.london.cloudapps.digital/documentation/general/#1-7-be-open-and-use-open-source-and-open-standards">be open and use open source and open standards</a>, open source software documentation principals should be followed.
          <br/>
          <br/>
          The following was taken directly from the <a href="https://opensourcesurvey.org/2017/">Github Open Source Survey 2017</a>

          <br/>
          <br/>
          <i>Documentation helps orient newcomers: how to use a project, how to contribute back, the terms of use and contribution, and the standards of conduct in a community. Improving that documentation is an impactful way to contribute back to open source.</i>
          <ul style="font-family: Verdana;">
            <li>Incomplete or outdated documentation is a pervasive problem, observed by 93% of respondents, yet 60% of contributors say they rarely or never contribute to documentation. When you run into documentation issues, help a maintainer out and open a pull request that improves them.</li>
            <li>Many people participate in open source on the job, where confidence in the terms of use is critical. Unsurprisingly, licenses are by far the most important type of documentation to both users and contributors: 64% say an open source license is very important in deciding whether to use a project, and 67% say it is very important in deciding whether to contribute.</li>
            <li>Documentation helps create inclusive communities. Documentation that clearly explains a project's processes, such as contributing guides and codes of conduct, is valued more by groups that are underrepresented in open source, like women.</li>
            <li>Nearly a quarter of the open source community reads and writes English less than ‘very well.’ When communicating on a project, use clear and accessible language for people who didn’t grow up speaking English, or read less-than-fluently.</li>
          </ul>
          </p>
        </section>
      </div>
  </div>
   <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row govuk-!-margin-bottom-4">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l content-section__first-heading">Features</h2>
        </div>
        <div class="govuk-grid-column-one-half">
          <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="/hosted-git">Hosted Git Solution</a></li>
            <li><a class="govuk-link" href="/product-page">DSS Product Page</a></li>
               <li><a class="govuk-link" href="/technical-docs-repo">Technical Documentation repository template</a></li>
           <li><a class="govuk-link" href="/user-guide-repo">User Guide repository template</a></li>
            
          </ul>
        </div>
      </div>
    </section>
  </div>
</main>
