---
title: Technical Documentation Template
---
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">About</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <a class="govuk-breadcrumbs__link" href="#main-content">Technical Documentation Template</a>
      </li>
    </ol>
  </div>
</div>
<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Technical Documentation Template</h1>
        <p class="govuk-body">Creating good quality technical documentation is a vital part of effectively running and maintaining a high quality product or service. Your technical documentation will allow new developers to familiarise themselves with your product to allow them to contribute value.</p>
        <p class="govuk-body">You should regularly review the content of your technical documentation to ensure that it is still relavant and up to date.</p>
        <p class="govuk-body">To provide a consistent experience we have reused the technical documentation template provided by GDS.</p>
        <img src="/images/technical-docs-template.png" class="image dss-image"/>
        <h2 class="govuk-heading-m">Creating a new Technical Documentation Repository</h2>
        <h3 class="govuk-heading-s">1. Creating a new repository</h3>
        <p class="govuk-body">To make this as easy as possible we have created a template repository from which you can quickly create new repositories which include all the files you need to get started.
        </p>
        <img src="/images/new-techdocs-template.png" class="image dss-image"/>
        <h3 class="govuk-heading-s">2. Hosting your Technical Documentation site</h3>
        <p class="govuk-body">To make hosting as easy as possible we have used a Jekyll theme which allows the site to be hosted directly on GitHub. To configure GitHub pages hosting go to the repository settings and scroll down to the GitHub pages section and select the <b>Master</b> branch as the source for your GitHub pages site. When this is done GitHub will handle building your site each time changes are made to files in the <b>Master</b> branch.</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <aside class="related-items">
          <h2 class="related-items__title">Related content</h2>
          <ul class="related-items__list">
            <li><a class="govuk-link" href="https://github.com/dof-dss/technical-guidance-template">Technical guidance template repo</a></li>
            <li><a class="govuk-link" href="https://dof-dss.github.io/technical-guidance-template">Hosted Example</a></li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</main>
